/* limpar formatação padrão */ 
* {
    margin: 0;
    padding: 0;
}


h2{
    color: rgb(49, 121, 97);

}
body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f3f3f3;
}

#navegacao{
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 45px;  
    position: fixed;
    width: 100%;
    top: 0;
    
}

#area {
    width: 720px;
    margin: 0 auto;
    
    
}

#logo {
    float: left;
}



.verde {
    color: rgb(49, 121, 97);
}

#menu {
    float: right;
    padding: 10px;
    
    
}

#area-postagem{
    width: 720px;
   /* margin: 0 auto;*/
   margin: 55px auto 10px auto;
    background-color: #fff;
    
    margin-bottom: 10px;
    
}

#postagem-img{
    
    float: left;
    margin: 0 5px 3px 0;

}



#postagem{

    margin-bottom: 10px;

}
  

.data-postagem{
    font-size: 13px;
   /* border-left: rgb(76, 115, 13) solid 5px;*/
    border-bottom: 1px solid #408000;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
    
}

.conteudo{
    
}


/*formatação dos menus*/

a{
text-decoration: none;
padding: 5px 10px;
}

/*não visitados*/
a:link{
    color: #838383;

}

/*visitados*/
a:visited{
   color:#838383;
}

/*links hover*/
a:hover{
    background: rgb(49, 121, 97);
    color: #fff;
}

/* links ativos*/
a:active{
    color: #317961;
    background: #faf9f9;

}

.postado{
    border-left: solid 5px #317961 ;
    padding-left: 7px;
    display: block;
    margin-top: 10px;
   
}







